@import "../../../_scss/commonStyles";
@import "../../../_scss/components";
@import "../../../_scss/buttons";
@import "../../../_scss/fonts";
@import "../../../_scss/variables";

@include basicPageSettings;
@include header;
@include footer;
@include standarPageButonRound;
@include standarPageButonNotRound;

.pandaWrapper {
  background-image: url(../../assets/images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 386px;
  @media screen and (min-width: 1600px) {
  }

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    height: 390px;
    background-size: 160%;
    background-position: -173px -194px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    height: 369px;
    background-size: 213%;
    background-position: -267px -130px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    height: 221px;
    background-size: 239%;
    background-position: -140px -58px;
  }
}

.donate {
  @include BlockWrapper($orang);
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  &__content {
    @include displayFlex(flex-start, flex-start);
    flex-direction: column;
    width: 1160px;
    margin-bottom: 180px;

    @media screen and (min-width: 1600px) {
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 940px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      margin-bottom: 46px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      width: 300px;
      margin-bottom: 20px;
    }

    &-help-title {
      @include robotoNormal36130($commonWhiteColor);
      margin-top: 41px;

      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 778px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        font-size: 24px;
        line-height: 120%;
        margin-top: 32px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        margin-top: 29px;
        font-size: 24px;
        line-height: 124%;
      }
    }

    &-help-text {
      @include robotoMedium16140($commonWhiteColor);
      margin-top: 10px;

      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        margin-top: 31px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-top: 20px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        margin-top: 21px;
      }
    }

    &-donation-information-title {
      @include robotoNormal36130($anotherOrange);
      margin-top: 47px;

      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        margin-bottom: 40px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-top: 31px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        margin-top: 31px;
        font-size: 24px;
        line-height: 120%;
      }
    }

    &-donation-content {
      @include displayFlex(flex-start, flex-start);
      flex-direction: column;
      margin-top: 41px;
      margin-top: 60px;
      padding: 40px 92px 62px 92px;
      background: rgba(255, 255, 255, 0.52);
      backdrop-filter: blur(4px);
      border-radius: 20px;

      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        margin: 0;
        padding: 0;
        width: 940px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        padding: 0;
        width: 600px;
        margin-top: 30px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        padding: 0;
        width: 300px;
        margin-top: 30px;
        align-items: center;
      }

      &-title {
        @include robotoNorma48120($anotherOrange);
        margin-bottom: 22px;
        margin-left: 250px;

        @media screen and (min-width: 1600px) {
        }

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          margin-top: 20px;
          margin-left: 231px;
          margin-bottom: 12px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          margin-top: 30px;
          margin-left: 70px;
          margin-bottom: 22px;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          margin: 0;
          font-size: 24px;
          line-height: 120%;
          margin-top: 21px;
        }
      }

      &-text {
        @include robotoNormal24120($blackBlue);

        @media screen and (min-width: 1600px) {
        }

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          margin-left: 47px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          width: 600px;
          text-align: center;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          font-size: 16px;
          line-height: 140%;
          margin-top: 10px;
          text-align: center;
        }
      }

      &-diet {
        @include displayFlex(flex-start, flex-end);
        margin-top: 61px;
        margin-left: 216px;

        @media screen and (min-width: 1600px) {
        }

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          margin-left: 196px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          margin-top: 52px;
          margin-left: 29px;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          margin: 0;
          margin-top: 11px;
          width: 300px;
        }

        &-amount {
          @include displayFlex(flex-end, center);
          flex-direction: column;
          margin-right: 2.3%;
          margin-bottom: 11.5%;

          @media screen and (min-width: 320px) and (max-width: 639px) {
            margin: 0;
            margin-bottom: 30px;
          }

          &-number {
            @include robotoMedium7280($black);
            margin-bottom: 11px;

            @media screen and (min-width: 320px) and (max-width: 639px) {
              font-size: 38px;
              margin-bottom: 8px;
            }
          }

          &-text {
            @include robotoNormal16140($blackBlue);
            width: 159px;

            @media screen and (min-width: 320px) and (max-width: 639px) {
              font-size: 9.02255px;
              width: 89.66px;
              line-height: 140%;
            }
          }
        }

        &-cross-icon {
          margin-bottom: 22.4%;
          margin-right: 14%;

          & > svg {
            @media screen and (min-width: 320px) and (max-width: 639px) {
              width: 7.89px;
              height: 7.89px;
            }
          }

          @media screen and (min-width: 320px) and (max-width: 639px) {
            margin: 0;
            /* width: 7.89px; */
            /* height: 7.89px; */
            margin-bottom: 57px;
            margin-left: 6px;
            margin-right: 36px;
          }
        }

        &-animal-icon {
          & > svg {
            @media screen and (min-width: 320px) and (max-width: 639px) {
              width: 160px;
              height: 138px;
            }
          }
        }
      }

      &-another-amount-form {
        @media screen and (min-width: 640px) and (max-width: 999px) {
          display: flex;
          flex-direction: column;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
        }
      }

      &-another-amount-input {
        margin-top: 108px;
        width: 268px;
        height: 54px;
        border: 1px solid #929699;
        outline: none;
        background-color: transparent;
        background-image: url(../../assets//icons/dollar-grey.svg);
        background-repeat: no-repeat;
        background-position: 247px;
        padding-left: 8px;
        @include robotoNormal16140(#929699);

        @media screen and (min-width: 640px) and (max-width: 999px) {
          margin-top: 88px;
          margin-left: 10px;
          width: 180px;
          height: 42px;
          background-position: 159px;
          order: 2;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          margin-top: 42px;
          margin-left: 0px;
          width: 180px;
          height: 42px;
          background-position: 159px;
          order: 2;
        }

        &::placeholder {
          @include robotoNormal16140(#929699);
          margin-left: 19px;
        }

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type="number"] {
          -moz-appearance: textfield;
        }
      }

      &-amount-radio {
        margin-top: 45px;

        @media screen and (min-width: 640px) and (max-width: 999px) {
          margin-top: 39px;
          order: 1;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          // width: 300px;
          margin-top: 2px;
        }

        &-title {
          @include robotoNormal16140($black);
          margin-left: 4px;
          margin-bottom: 17px;

          @media screen and (min-width: 1600px) {
          }

          @media screen and (min-width: 1000px) and (max-width: 1599px) {
            margin-left: 65px;
          }

          @media screen and (min-width: 640px) and (max-width: 999px) {
            margin-left: 11px;
            margin-bottom: 6px;
          }

          @media screen and (min-width: 320px) and (max-width: 639px) {
            margin-bottom: 9px;
            margin-left: 0;
          }
        }

        &-inputs {
          width: 976px;
          height: 27px;
          background: #404950;
          border-radius: 2px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 30px 2px 26px;

          @media screen and (min-width: 1600px) {
          }

          @media screen and (min-width: 1000px) and (max-width: 1599px) {
            width: 810px;

            margin-left: 65px;
            padding: 0px 9px 2px 11px;
          }

          @media screen and (min-width: 640px) and (max-width: 999px) {
            width: 600px;
            padding: 0px 35px 2px 35px;
          }

          @media screen and (min-width: 320px) and (max-width: 639px) {
            width: 300px;
            height: 13px;
            padding: 0px 17px 2px 18px;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 915px;
            border: 1px solid #72828e;
            @media screen and (min-width: 1000px) and (max-width: 1599px) {
              width: 785px;
            }

            @media screen and (min-width: 640px) and (max-width: 999px) {
              width: 525px;
            }

            @media screen and (min-width: 320px) and (max-width: 639px) {
              width: 262px;
            }
          }

          &-button {
            display: none;
          }

          &-button:checked + &-label::before {
            background-image: url(../../assets//icons/roller_icon.svg);
          }

          &-button:checked + &-label::after {
            color: $anotherOrange;
            background-image: url(../../assets//icons/dollar-anotherorange.svg);
          }

          &-label {
            width: 10px;
            height: 10px;
            background: $yellow;
            position: relative;
            border-radius: 50%;
            @media (min-width: 320px) and (max-width: 639px) {
              width: 5px;
              height: 5px;
            }

            &::before {
              content: "";
              display: block;
              width: 40px;
              height: 40px;
              background-repeat: no-repeat;
              position: absolute;
              bottom: -15px;
              right: -15px;

              @media screen and (min-width: 320px) and (max-width: 639px) {
                width: 20px;
                height: 20px;
                bottom: -8px;
                right: -7px;
                background-size: 100%;
              }
            }

            &:hover::before {
              cursor: pointer;
            }

            &::after {
              pointer-events: none;
              content: attr(data-ammount);
              font-family: Roboto, sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 2.6rem;
              line-height: 140%;
              color: #333b41;
              display: block;
              height: 40px;
              background-image: url(../../assets//icons/dollar.svg);
              background-repeat: no-repeat;
              position: absolute;
              background-position: 0% 9px;
              text-align: right;
              padding-left: 13px;
              top: 31px;
              left: -26px;

              @media screen and (min-width: 1000px) and (max-width: 1599px) {
                left: -11px;
              }

              @media screen and (min-width: 640px) and (max-width: 999px) {
                left: -18px;
              }

              @media screen and (min-width: 320px) and (max-width: 639px) {
                font-size: 13px;
                background-size: 5px;
                height: 18px;
                top: 16px;
                left: -17px;
                padding-left: 14px;
                background-position: 7px 4px;
              }
            }
          }
        }
      }
    }
  }
}

.orange-checkbox {
  width: 16px;
  height: 16px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-left: 382px;
    margin-top: 8px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin-left: 363px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      order: 3;
      margin-top: 43px;
      margin-left: 192px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      margin: 0px;
      margin-top: 32px;
      margin-left: 41px;
    }
  }

  &-input {
    display: none;
  }

  &-input:checked + &-label {
    background: $green;
    border-color: $green;
  }

  &-label {
    width: 16px;
    height: 16px;
    border: 1px solid #fe9013;
    box-sizing: $anotherOrange;
    background-color: transparent;
    border-radius: 50%;
    display: block;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: attr(data-name);
      @include robotoNormal16140($blackBlue);
      position: absolute;
      position: absolute;
      left: 25px;
      top: -4px;
    }
  }
}

@include standarPageButonRound;
.standarPageButon {
  margin-top: 43px;
  margin-left: 342px;
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    margin-left: 323px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    order: 4;
    margin: 0;
    margin-top: 33px;
    margin-left: 152px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 0;
    margin-top: 33px;
    margin-left: 1px;
  }
}

.share-title {
  @include robotoNormal16140($blackBlue);
  margin-top: 30px;
  margin-left: 340px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    margin-left: 321px;
    margin-bottom: 46px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    margin-left: 150px;
    margin-bottom: 31px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin: 0;
    margin-top: 30px;
    letter-spacing: 0px;
    width: 301px;
    margin-bottom: 20px;
  }
}
