@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: default;
}

h1 {
  display: none;
}

li {
  list-style: none;
}

.logo {
  padding: 0.35rem 0rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  width: 8.2rem;
  height: 5.2rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0.2rem;
  background-image: url(../../assets/icons/bamboo.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 0.9rem 2.2rem;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .logo {
    border: none;
    font-size: 12px;
    width: 46.86px;
    height: 29.03px;
    /* background-size: 15%; */
    background-position: 4px 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .logo {
    border: none;
    font-size: 12px;
    width: 46.86px;
    height: 29.03px;
    /* background-size: 15%; */
    background-position: 4px 17px;
  }
}

.logo:hover {
  cursor: pointer;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .logo-footer {
    padding: 0.35rem 0rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    width: 8.2rem;
    height: 5.2rem;
    border: 0.1rem solid #FFFFFF;
    border-radius: 0.2rem;
    background-image: url(../../assets/icons/bamboo.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 0.9rem 2.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .logo-footer {
    padding: 0.35rem 0rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    height: 5.2rem;
    background-image: url(../../assets/icons/bamboo.svg);
    background-repeat: no-repeat;
    font-size: 19px;
    border: none;
    width: 128px;
    background-position: 71px 0px;
    background-size: 10%;
    margin-left: -2px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 63px;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .nav {
    display: none;
  }
}

.nav__list_default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52.6rem;
}

@media screen and (min-width: 1600px) {
  .nav__list_default {
    width: 526px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .nav__list_default {
    width: 485px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .nav__list_default {
    width: 299px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .nav__list_default {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 21px 0;
  }
}

.nav__list-item_default {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
}

.nav__list-item_default:hover {
  cursor: pointer;
  color: #F9804B;
}

.nav__list-item_selected {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #F9804B;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .nav__footer {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .nav__footer {
    display: block;
    margin: 0px;
  }
}

.header {
  background-color: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .header {
    position: fixed;
    top: 0px;
    z-index: 10;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .header {
    position: fixed;
    top: 0px;
    z-index: 10;
  }
}

.header__burger-ico {
  background-color: transparent;
  background-image: url(../../assets/icons/burger_menu.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 10px;
}

@media screen and (min-width: 1600px) {
  .header__burger-ico {
    display: none;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .header__burger-ico {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .header__burger-ico {
    display: block;
    margin-left: 536px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .header__burger-ico {
    display: block;
    margin-left: 234px;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem 0;
  width: 116rem;
}

@media screen and (min-width: 1600px) {
  .header__wrapper {
    width: 1160px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .header__wrapper {
    width: 940px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .header__wrapper {
    width: 600px;
    height: 34px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .header__wrapper {
    width: 300px;
    height: 34px;
  }
}

.footer {
  background-color: #111115;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer .footerstdButton-link {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    top: 235px;
    left: -89px;
  }
}

.footer .logo_footer {
  margin-top: 39px;
}

@media (min-width: 640px) and (max-width: 999px) {
  .footer .logo_footer {
    margin-top: 12px;
    /* position: relative; */
    margin-bottom: -37px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .footer .logo_footer {
    margin-top: 17px;
  }
}

.footer .footerstdButton {
  margin-top: 70px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 443px;
}

@media screen and (min-width: 1600px) {
  .footer__content {
    width: 1160px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .footer__content {
    width: 940px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__content {
    height: 282px;
    width: 600px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__content {
    height: 540px;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.footer__firstColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__firstColumn {
    position: relative;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__firstColumn {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__firstColumn-socials {
  margin-top: 44px;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__firstColumn-socials {
    position: absolute;
    right: -302px;
    top: -32px;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__firstColumn-socials {
    position: absolute;
    right: -302px;
    top: -32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__firstColumn-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 194px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 29px;
    position: absolute;
    left: -35px;
  }
}

.footer__firstColumn-socials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__firstColumn-socials-wrapper {
    margin-bottom: 20px;
  }
}

.footer__firstColumn-socials a:hover {
  cursor: pointer;
}

.footer__social-img-fb {
  background-image: url(../../assets/icons/Fill211.png);
  background-repeat: no-repeat;
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__social-text {
  margin-left: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
}

@media (min-width: 640px) and (max-width: 999px) {
  .footer__social-text {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .footer__social-text {
    display: none;
  }
}

.footer__secondColumn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 50px;
}

@media screen and (min-width: 1600px) {
  .footer__secondColumn {
    width: 425px;
    margin-left: 38px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .footer__secondColumn {
    width: 395px;
    margin-left: -57px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__secondColumn {
    margin-left: -360px;
    /* margin-top: -44px; */
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__secondColumn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    bottom: 30px;
    margin: 0;
    padding: 0;
    -ms-flex-item-align: none;
        -ms-grid-row-align: none;
        align-self: none;
    width: 100%;
  }
}

.footer__thirdColumn {
  margin-left: 32px;
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 1600px) {
  .footer__thirdColumn {
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .footer__thirdColumn {
    position: relative;
    left: -127px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .footer__thirdColumn {
    margin-top: 3px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .footer__thirdColumn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    margin-top: 71px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.subscribe {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 120%;
  color: #FFFFFF;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .subscribe {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .subscribe {
    font-size: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: -10px;
    margin-bottom: 0px;
  }
}

.designer-Alisa,
.designer-Tony {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 130%;
  color: #FFFFFF;
}

@media screen and (min-width: 1600px) {
  .designer-Alisa,
  .designer-Tony {
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .designer-Alisa,
  .designer-Tony {
    position: relative;
    left: 32px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .designer-Alisa,
  .designer-Tony {
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .designer-Alisa,
  .designer-Tony {
    margin: 0;
    position: absolute;
    font-size: 15px;
    width: 224px;
    font-size: 15px;
    line-height: 120%;
  }
}

.designer-Alisa {
  margin-bottom: 11px;
  margin-right: 6px;
  margin-top: 217px;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .designer-Alisa {
    margin: 0;
    position: absolute;
    top: 259px;
    left: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .designer-Tony {
    margin: 0;
    position: absolute;
    top: 290px;
    left: 49px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 367px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

@media screen and (min-width: 640px) and (max-width: 999px) {
  .form {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 228px;
    margin-top: 12px;
  }
}

.submitFormButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f3f2;
  border-radius: 5px;
  width: 129px;
  height: 42px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #000000;
  border: 1px solid #333b41;
  outline: none;
  z-index: 100;
}

.submitFormButton:hover {
  cursor: pointer;
}

.email:valid + .submitFormButton {
  color: #000000;
  border: 1px solid #333b41;
}

.email:invalid + .submitFormButton {
  border: 1px solid #d31414;
  color: #d31414;
}

.email {
  width: 228px;
  height: 42px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #bdbdbd;
  background-color: transparent;
  outline: none;
  border-radius: 2px;
  border: 1px solid #F9804B;
  padding-left: 8px;
}

@media (min-width: 320px) and (max-width: 639px) {
  .email {
    margin-bottom: 10px;
  }
}

.email::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #bdbdbd;
  margin-left: 9px;
}

.email:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #bdbdbd;
  margin-left: 9px;
}

.email::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #bdbdbd;
  margin-left: 9px;
}

.email::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #bdbdbd;
  margin-left: 9px;
}

.standarPageButon {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding-left: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarPageButon:hover {
  background: #4b9200;
  cursor: pointer;
}

.standarPageButonNotRound {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding-left: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarPageButonNotRound:hover {
  background: #4b9200;
  cursor: pointer;
}

.pandaWrapper {
  background-image: url(../../assets/images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 386px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .pandaWrapper {
    height: 390px;
    background-size: 160%;
    background-position: -173px -194px;
  }
}

.donate {
  background-color: #F9804B;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.donate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1160px;
  margin-bottom: 180px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content {
    width: 940px;
    margin-bottom: 30px;
  }
}

.donate__content-help-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 130%;
  color: #FFFFFF;
  margin-top: 41px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-help-title {
    width: 778px;
  }
}

.donate__content-help-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 10px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-help-text {
    margin-top: 31px;
  }
}

.donate__content-donation-information-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 130%;
  color: #fe9013;
  margin-top: 47px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-information-title {
    margin-bottom: 40px;
  }
}

.donate__content-donation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 41px;
  margin-top: 60px;
  padding: 40px 92px 62px 92px;
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 20px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content {
    margin: 0;
    padding: 0;
    width: 940px;
  }
}

.donate__content-donation-content-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 120%;
  color: #fe9013;
  margin-bottom: 22px;
  margin-left: 250px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-title {
    margin-top: 20px;
    margin-left: 231px;
    margin-bottom: 12px;
  }
}

.donate__content-donation-content-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 120%;
  color: #333b41;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-text {
    margin-left: 47px;
  }
}

.donate__content-donation-content-diet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 61px;
  margin-left: 216px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-diet {
    margin-left: 196px;
  }
}

.donate__content-donation-content-diet-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2.3%;
  margin-bottom: 11.5%;
}

.donate__content-donation-content-diet-amount-number {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 80%;
  color: #000000;
  margin-bottom: 11px;
}

.donate__content-donation-content-diet-amount-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #333b41;
  width: 159px;
}

.donate__content-donation-content-diet-cross-icon {
  margin-bottom: 22.4%;
  margin-right: 14%;
}

.donate__content-donation-content-another-amount-input {
  margin-top: 108px;
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  outline: none;
  background-color: transparent;
  background-image: url(../../assets//icons/dollar-grey.svg);
  background-repeat: no-repeat;
  background-position: 247px;
  padding-left: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #929699;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.donate__content-donation-content-another-amount-input::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #929699;
  margin-left: 9px;
}

.donate__content-donation-content-another-amount-input:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #929699;
  margin-left: 9px;
}

.donate__content-donation-content-another-amount-input::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #929699;
  margin-left: 9px;
}

.donate__content-donation-content-another-amount-input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #929699;
  margin-left: 9px;
}

.donate__content-donation-content-another-amount-input::-webkit-outer-spin-button, .donate__content-donation-content-another-amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donate__content-donation-content-another-amount-input[type="number"] {
  -moz-appearance: textfield;
}

.donate__content-donation-content-amount-radio {
  margin-top: 45px;
}

.donate__content-donation-content-amount-radio-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #000000;
  margin-left: 4px;
  margin-bottom: 17px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-amount-radio-title {
    margin-left: 65px;
  }
}

.donate__content-donation-content-amount-radio-inputs {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px 2px 26px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-amount-radio-inputs {
    width: 810px;
    margin-left: 65px;
    padding: 0px 9px 2px 11px;
  }
}

.donate__content-donation-content-amount-radio-inputs::before {
  content: "";
  display: block;
  position: absolute;
  width: 915px;
  border: 1px solid #72828e;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-amount-radio-inputs::before {
    width: 785px;
  }
}

.donate__content-donation-content-amount-radio-inputs-button {
  display: none;
}

.donate__content-donation-content-amount-radio-inputs-button:checked + .donate__content-donation-content-amount-radio-inputs-label::before {
  background-image: url(../../assets//icons/roller_icon.svg);
}

.donate__content-donation-content-amount-radio-inputs-button:checked + .donate__content-donation-content-amount-radio-inputs-label::after {
  color: #fe9013;
  background-image: url(../../assets//icons/dollar-anotherorange.svg);
}

.donate__content-donation-content-amount-radio-inputs-label {
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  position: relative;
  border-radius: 50%;
}

.donate__content-donation-content-amount-radio-inputs-label::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -15px;
  right: -15px;
}

.donate__content-donation-content-amount-radio-inputs-label:hover::before {
  cursor: pointer;
}

.donate__content-donation-content-amount-radio-inputs-label::after {
  pointer-events: none;
  content: attr(data-ammount);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 140%;
  color: #333b41;
  display: block;
  height: 40px;
  background-image: url(../../assets//icons/dollar.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0% 9px;
  text-align: right;
  padding-left: 13px;
  top: 31px;
  left: -26px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .donate__content-donation-content-amount-radio-inputs-label::after {
    left: -11px;
  }
}

.orange-checkbox {
  width: 16px;
  height: 16px;
}

.orange-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin-left: 382px;
  margin-top: 8px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .orange-checkbox-container {
    margin-left: 363px;
  }
}

.orange-checkbox-input {
  display: none;
}

.orange-checkbox-input:checked + .orange-checkbox-label {
  background: #4b9200;
  border-color: #4b9200;
}

.orange-checkbox-label {
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
  -webkit-box-sizing: #fe9013;
          box-sizing: #fe9013;
  background-color: transparent;
  border-radius: 50%;
  display: block;
  position: relative;
}

.orange-checkbox-label:hover {
  cursor: pointer;
}

.orange-checkbox-label::after {
  content: attr(data-name);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #333b41;
  position: absolute;
  position: absolute;
  left: 25px;
  top: -4px;
}

.standarPageButon {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding-left: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarPageButon:hover {
  background: #4b9200;
  cursor: pointer;
}

.standarPageButon {
  margin-top: 43px;
  margin-left: 342px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .standarPageButon {
    margin-left: 323px;
  }
}

.share-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #333b41;
  margin-top: 30px;
  margin-left: 340px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  .share-title {
    margin-left: 321px;
    margin-bottom: 46px;
  }
}
