@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: default;
}

h1 {
  display: none;
}

li {
  list-style: none;
}

.standarPageButon {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarPageButon:hover {
  background: #4b9200;
  cursor: pointer;
}

.logo {
  padding: 0.35rem 0rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  width: 8.2rem;
  height: 5.2rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0.2rem;
  background-image: url(../../assets/icons/bamboo.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 0.9rem 2.2rem;
}

.logo:hover {
  cursor: pointer;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 63px;
}

.nav__list_default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52.6rem;
}

.nav__list-item_default {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
}

.nav__list-item_default:hover {
  cursor: pointer;
  color: #F9804B;
}

.nav__list-item_selected {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #F9804B;
  pointer-events: none;
}

.header {
  background-color: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem 0;
  width: 116rem;
}

.pandaWrapper {
  background-image: url(../../assets/images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 78rem;
}

.watchAnimal {
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watchAnimal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 116rem;
  position: relative;
}

.watchAnimal__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.7rem;
  line-height: 75%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  top: 85px;
  width: 500.31px;
  height: 400px;
}

.watchAnimal__text-content_yellow {
  color: #FFEE2E;
}

.watchAnimal__rectangle {
  position: absolute;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 465px;
  height: 465px;
  z-index: 1;
  border-radius: 50%;
  top: 12px;
  right: 108px;
}

.watchAnimal .wathOnlineButton {
  position: absolute;
  top: 546px;
  right: 99px;
}
