@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
}

html {
  font-size: 10px;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: default;
}

h1 {
  display: none;
}

li {
  list-style: none;
}

.logo {
  padding: 0.35rem 0rem;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  width: 8.2rem;
  height: 5.2rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0.2rem;
  background-image: url(../../assets/icons/bamboo.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 0.9rem 2.2rem;
}

.logo:hover {
  cursor: pointer;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 63px;
}

.nav__list_default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52.6rem;
}

.nav__list-item_default {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
}

.nav__list-item_default:hover {
  cursor: pointer;
  color: #F9804B;
}

.nav__list-item_selected {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #F9804B;
  pointer-events: none;
}

.header {
  background-color: #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem 0;
  width: 116rem;
}

.standarPageButon {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standarPageButon:hover {
  background: #4b9200;
  cursor: pointer;
}

.pandaWrapper {
  background-image: url(../../assets/images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 78rem;
}

.watchAnimal {
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watchAnimal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 116rem;
  position: relative;
}

.watchAnimal__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10.7rem;
  line-height: 75%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  top: 85px;
  width: 500.31px;
  height: 400px;
}

.watchAnimal__text-content_yellow {
  color: #FFEE2E;
}

.watchAnimal__rectangle {
  position: absolute;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  width: 465px;
  height: 465px;
  z-index: 1;
  border-radius: 50%;
  top: 12px;
  right: 108px;
}

.watchAnimal .wathOnlineButton {
  position: absolute;
  top: 546px;
  right: 99px;
}

.backstage {
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.backstage__content {
  margin-top: 14rem;
  width: 116rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backstage__img {
  background-image: url(../../assets/images/bamboo-cap.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 609px;
  height: 405px;
  margin-left: -1px;
}

.backstage__text {
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.backstage__text_48120 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 23px;
}

.backstage__text_16130 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 130%;
  color: #333b41;
  margin-bottom: 56px;
}

.backstage__text_24120 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 34px;
}

.backstage__text_16140 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #333b41;
}

.sideBush {
  background-image: url(../../assets//images/flowerfoto1.png);
  background-repeat: no-repeat;
  width: 204px;
  height: 605px;
  position: absolute;
  right: 0px;
  top: 12px;
}

.pets {
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 168px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.pets-slider {
  width: 1322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.pets-slider__content {
  width: 116rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 892px;
  padding-right: 2px;
}

.round-arrow-button_left {
  width: 61px;
  height: 61px;
  background-color: #F9804B;
  background-image: url(../../assets//icons/whiteLeftArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.round-arrow-button_left:hover {
  cursor: pointer;
  background-color: #4b9200;
}

.round-arrow-button_right {
  width: 61px;
  height: 61px;
  background-color: #F9804B;
  background-image: url(../../assets//icons/whiteLeftArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.round-arrow-button_right:hover {
  cursor: pointer;
  background-color: #4b9200;
}

.round-arrow-button_right,
.round-arrow-button_left {
  margin-top: -6px;
}

.pet-card {
  width: 366px;
  height: 426px;
  border: 1px solid #fe9013;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pet-card:hover {
  cursor: pointer;
}

.pet-card:hover .pet-card__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pet-card:hover .pet-card__animated-text {
  top: 0%;
}

.pet-card__image-wrapper {
  overflow: hidden;
  width: 366px;
  height: 366px;
  position: relative;
}

.pet-card__image {
  width: 366px;
  height: 366px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  border-radius: 5px;
  margin-top: -1px;
}

@-webkit-keyframes petCardTextAnimation {}

@keyframes petCardTextAnimation {}.pet-card__animated-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 100%;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.5);
  width: 364px;
  height: 366px;
  -webkit-transition: top 0.5s linear;
  transition: top 0.5s linear;
  border-radius: 5px;
}

.pet-card__fixed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 337px;
  margin-left: 4px;
  margin-top: 8px;
  height: 37px;
}

.pet-card__fixed-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pet-card__fixed-text-animal {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #000000;
  text-transform: uppercase;
}

.pet-card__fixed-text-animal_white {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 140%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.pet-card__fixed-text-area {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
  color: #000000;
}

.pet-card__fixed-text-area_white {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
  color: #FFFFFF;
}

.pet-card__fixed-icon-banana {
  width: 33px;
  height: 36px;
}

.pet-card__fixed-icon-fish {
  width: 44px;
  height: 39px;
}

.sideStrelitzia {
  background-image: url(../../assets/images/strelitziaFoto.png);
  background-repeat: no-repeat;
  width: 368px;
  height: 275px;
  position: absolute;
  bottom: -100px;
  right: 0px;
}

.sidePalm {
  background-image: url(../../assets/images/palmFoto.png);
  background-repeat: no-repeat;
  width: 266px;
  height: 460px;
  position: absolute;
  left: 0;
  bottom: -100px;
}

.pick-and-feed {
  background-color: #fed290;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  height: 1004px;
}

.pick-and-feed__content {
  width: 1160px;
  height: 835px;
  margin: 69px 220px 100px 220px;
}
