@import "../../../_scss/commonStyles";
@include basicPageSettings;

@import "../../../_scss/buttons";
@import "../../../_scss/fonts";
@import "../../../_scss/components";
//
@include header;
@include standarPageButonRound;
@include standarPageButonNotRound;

@include footer;
.footer__content {
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    padding-left: 13px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
  }
}

@mixin watchAnimalText($fontSize) {
  @include useRobotoFont(normal, bold, $fontSize, 75%, $commonWhiteColor);
  text-align: center;
  text-transform: uppercase;
}

.pandaWrapper {
  background-image: url(../../assets/images/GiantPanda.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 78rem;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    height: 584px;
    /* position: relative; */
    background-size: 120%;
    background-position: -100px -1px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    height: 373px;
    background-size: 120%;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.watchAnimal {
  @include BlockWrapper(transparent);

  &__content {
    @include displayFlex(center, flex-end);
    flex-direction: column;
    width: 116rem;
    position: relative;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 1000px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 639px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__text {
    @include watchAnimalText(10.7rem);
    z-index: 2;
    position: absolute;
    top: 85px;
    width: 500.31px;
    height: 400px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      z-index: 20;
      top: 42px;
      right: 36px;
      font-size: 85px;
      line-height: 76%;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      font-size: 54.2894px;
      line-height: 76%;
      width: 255.64px;
      height: 204.38px;
      top: 82px;
      right: 16px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__text-content_yellow {
    color: $yellow;
  }

  &__rectangle {
    position: absolute;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    width: 465px;
    height: 465px;
    z-index: 1;
    border-radius: 50%;
    top: 12px;
    right: 108px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 367px;
      height: 367px;
      top: -11px;
      right: 177px;
      z-index: 1;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 236.6px;
      height: 237.6px;
      top: 44px;
      right: 72px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  .wathOnlineButton {
    position: absolute;
    top: 546px;
    right: 99px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      top: 403px;
      right: 137px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      top: 279px;
      right: 322px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
}

.backstage {
  @include BlockWrapper(transparent);
  position: relative;

  &__content {
    margin-top: 14rem;
    width: 116rem;
    @include displayFlex(space-between, center);

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 940px;
      margin-top: 99px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      margin-top: 60px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__img {
    background-image: url(../../assets/images/bamboo-cap.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 609px;
    height: 405px;
    margin-left: -1px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 455px;
      height: 410px;
      background-size: 135%;
      background-position-x: -79px;
      background-position-y: 2px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      display: none;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__text {
    width: 465px;
    @include displayFlex(flex-start, flex-start);
    flex-direction: column;
    height: 100%;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      padding-left: 12px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }

    &_48120 {
      @include robotoNorma48120($blackBlue);
      margin-bottom: 23px;

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-left: 4px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }

    &_16130 {
      @include robotoNorma16130($blackBlue);
      margin-bottom: 56px;

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-bottom: 31px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }

    &_24120 {
      @include robotoNormal24120($blackBlue);
      margin-bottom: 34px;

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-left: 4px;
        margin-bottom: 21px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }

    &_16140 {
      @include robotoMedium16140($blackBlue);
      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 508px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }
  }
}

.sideBush {
  background-image: url(../../assets//images/flowerfoto1.png);
  background-repeat: no-repeat;
  width: 204px;
  height: 605px;
  position: absolute;
  right: 0px;
  top: 12px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    display: none;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    width: 231px;
    height: 476px;
    background-size: 70%;
    right: 0;
    background-position-x: 100px;
    top: 0px;
    background-position-y: -6px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.pets {
  @include BlockWrapper(transparent);
  position: relative;
  margin-top: 168px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    margin-top: 142px;
    margin-bottom: 140px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    margin-top: 34px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.pets-slider {
  width: 1322px;
  @include displayFlex(space-between, center);
  margin-bottom: 70px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    height: 801px;
    position: relative;
    width: 940px;
    margin-bottom: 81px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    width: 600px;
    position: relative;
    margin-bottom: 13px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }

  &__content {
    width: 116rem;
    @include displayFlex(space-between, center);
    flex-wrap: wrap;
    height: 892px;
    padding-right: 2px;

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      height: 849px;
      position: relative;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
}

@include roundArrowButtonLeft;
@include roundArrowButtonRight;

.round-arrow-button_right,
.round-arrow-button_left {
  margin-top: -6px;
}

.round-arrow-button_right {
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    position: absolute;
    top: 376px;
    right: 323px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    position: absolute;
    top: 395px;
    left: 315px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.round-arrow-button_left {
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    position: absolute;
    top: 376px;
    left: 323px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    position: absolute;
    top: 395px;
    left: 223px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.pet-card {
  width: 366px;
  height: 426px;
  border: 1px solid #fe9013;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1600px) {
    &:nth-child(7) {
      display: none;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    width: 294px;
    height: 354px;

    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 4;
    }
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(5) {
      order: 3;
    }
    &:nth-child(6) {
      order: 6;
    }
    &:nth-child(7) {
      order: 5;
    }
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    width: 285px;
    height: 332px;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(5) {
      display: none;
    }
    &:nth-child(6) {
      display: none;
    }
    &:nth-child(7) {
      order: 5;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__animated-text {
    top: 0%;
  }

  &__image-wrapper {
    overflow: hidden;
    width: 366px;
    height: 366px;
    position: relative;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 285.24px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  &__image {
    width: 366px;
    height: 366px;
    transform: scale(1);
    transition: transform 0.5s linear;
    border-radius: 5px;
    margin-top: -1px;
    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 294px;
      height: 294px;
      margin-left: 36px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 285.24px;
      height: 285.24px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  @keyframes petCardTextAnimation {
  }
  &__animated-text {
    @include displayFlex(center, center);
    flex-direction: column;
    top: 100%;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    width: 364px;
    height: 366px;
    transition: top 0.5s linear;
    border-radius: 5px;
  }

  &__fixed-info {
    @include displayFlex(space-between, center);
    width: 337px;
    margin-left: 4px;
    margin-top: 8px;
    height: 37px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 261px;
      align-items: flex-start;
      height: 63px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 269.24px;
      /* align-items: center; */
      height: 37px;
      margin-top: 0px;
      /* padding-bottom: 28px; */
      align-items: flex-start;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__fixed-text {
    @include displayFlex(space-between, flex-start);
    flex-direction: column;

    &-animal {
      @include robotoNormal16140($black);
      text-transform: uppercase;
      @media screen and (min-width: 640px) and (max-width: 999px) {
        font-size: 12.4695px;
        line-height: 140%;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }
    &-animal_white {
      @include robotoNormal16140($commonWhiteColor);
      text-transform: uppercase;
    }

    &-area {
      @include robotoLight15120($black);
      @media screen and (min-width: 640px) and (max-width: 999px) {
        font-size: 11.6901px;
        line-height: 120%;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }
    &-area_white {
      @include robotoLight15120($commonWhiteColor);
    }
  }

  &__fixed-icon-banana {
    width: 33px;
    height: 36px;
  }
  &__fixed-icon-fish {
    width: 44px;
    height: 39px;
  }
}

@include sideStrelizia;
.sideStrelitzia {
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    background-image: url(../../assets/images/strelitziaFoto.png);
    bottom: -100px;
    /* width: 161px; */
    background-size: 65%;
    right: -130px;
    bottom: -237px;
    background-position-x: 129px;
    right: 0px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    width: 161px;
    background-size: 109%;
    bottom: -100px;
    background-position-x: right;
    background-position-y: bottom;
    right: 0px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}
@include sidePalm;
.sidePalm {
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    background-image: url(../../assets/images/palmFoto-adaptive.png);
    bottom: -140px;
    background-size: 100%;
    left: 0px;
    background-position-x: -192px;
    width: 386px;
    height: 202px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    left: 0px;
    bottom: -101px;
    background-position-x: -252px;
    background-position-y: bottom;
    background-size: 145%;
    background-image: url(../../assets/images/palmFoto-adaptive.png);
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.pick-and-feed {
  @include BlockWrapper($orangeGrad);
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  height: 1004px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    height: 876px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    height: 781px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }

  &__content {
    width: 1160px;
    height: 835px;
    margin: 69px 220px 100px 220px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    @include displayFlex(flex-start, center);
    flex-direction: column;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin: 0;
      width: 940px;
      margin-top: 30px;
      /* margin-bottom: 74px; */
      height: 796px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      padding: 0px 20px 0px;
      margin-top: 20px;
      width: 640px;
      height: 742px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__title {
    @include robotoNorma48120($anotherOrange);
    margin-top: 41px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin-top: 30px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      font-size: 42px;
      line-height: 120%;
      margin-top: 11px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  &__subtitle {
    @include robotoNormal24120($blackBlue);
    margin-top: 31px;
    align-self: flex-start;
    padding-left: 99px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      padding-left: 49px;
      margin-top: 22px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      padding-left: 0px;
      margin-top: 19px;
      font-size: 22px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  &__aboutcovid {
    @include robotoMedium16130($blackBlue);
    margin-top: 43px;
    align-self: flex-start;
    padding-left: 99px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      padding-left: 49px;
      margin-top: 22px;
      padding-right: 100px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      padding-left: 0px;
      margin-top: 22px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  &__emergency {
    @include robotoNorma16130($blackBlue);
    margin-top: 10px;
    align-self: flex-start;
    padding-left: 99px;
    width: 970px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      padding-left: 49px;
      margin-top: 11px;
      padding-right: 100px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      padding-left: 0px;
      width: 600px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }

    &_underline {
      @include robotoNorma16130($blackBlue);
      // text-decoration: underline;
      border-bottom: 1px solid $anotherOrange;
      // text-decoration-color: $anotherOrange;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $green;
        color: $green;
      }
    }
  }
  &__how-it-works {
    @include robotoNormal36130($blackBlue);
    margin-top: 62px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin-top: 42px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      margin-top: 34px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__diagram {
    @include displayFlex(space-between, center);
    width: 764px;
    margin-top: 40px;
    align-items: end;
    margin-bottom: 61px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin-bottom: 71px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      margin-top: 18px;
      padding-right: 12px;
      position: relative;
      margin-bottom: 42px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }

    &-item {
      @include displayFlex(flex-start, center);
      flex-direction: column;
      width: 168px;

      @mixin pickAndFeedDiagIcons($url) {
        background: $commonWhiteColor;
        border-radius: 5px;
        border: 1px solid $orang;
        width: 168px;
        height: 168px;
        background-image: url($url);
        background-repeat: no-repeat;
        background-position: center;
      }

      &-img-pay {
        @include pickAndFeedDiagIcons("../../assets/icons/paywithcard.svg");
      }
      &-img-paymenttozoo {
        @include pickAndFeedDiagIcons(
          "../../assets/icons/paymentsgoestothezoo.svg"
        );
      }
      &-img-eat {
        @include pickAndFeedDiagIcons("../../assets/icons/monkeyEats.svg");
      }

      &-arrow {
        &-1,
        &-2 {
          width: 69px;
          height: 35px;
          background-image: url(../../assets/icons/paymentArrow.svg);
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 60px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          &-1 {
            width: 90px;
            height: 35px;
            background-image: url(../../assets/icons/paymentArrow-green.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 0px;
            position: absolute;
            top: -18px;
            left: 136px;
          }
          &-2 {
            width: 90px;
            height: 35px;
            background-image: url(../../assets/icons/paymentArrow-green.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 0px;
            position: absolute;
            top: -18px;
            left: 343px;
          }
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
        }
      }

      &-text {
        @include robotoNormal16140($blackBlue);
        margin-right: auto;
        margin-top: 31px;
      }
    }
  }
}

.testimonials {
  @include BlockWrapper($commonWhiteColor);
  position: relative;

  &__content {
    @include displayFlex(flex-start, center);
    flex-direction: column;
    width: 1160px;
    height: 842px;
    margin: 0px 30px 77px 30px;
    @include displayFlex(flex-start, center);
    flex-direction: column;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 940px;

      margin: 0;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      margin: 0;
      width: 600px;
      height: 667px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__title {
    @include robotoNormal36130($blackBlue);
    margin-top: 101px;
    @media screen and (min-width: 640px) and (max-width: 999px) {
      margin-top: 61px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }

  &__cards {
    @include displayFlex(space-between, center);
    margin-top: 48px;
    width: 1160px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin-top: 30px;
      width: 940px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      flex-direction: column;
      width: 600px;
      margin-top: 30px;
      height: 357px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  &__card-item-bg {
    background: linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    border-radius: 20px;
    @media screen and (min-width: 1600px) {
      // &:nth-child(2), &:nth-child(3),&:nth-child(4) {
      //   display: block;
      // }
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
  &__card-item {
    @include displayFlex(flex-start, flex-start);
    flex-direction: column;
    width: 268px;
    height: 391px;
    // border: 1px solid $pinkGradient;
    background: $lightGray;
    border-radius: 20px;
    padding: 15px 15px 19px 16px;
    transform: scale(0.99);

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      height: 109px;
      padding-left: 10px;
      padding-bottom: 9px;
      transform: scaleY(0.95) scaleX(0.99);
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }

    &-user-info {
      @include displayFlex(space-between, center);

      &-other-data {
        margin-left: 10px;
        &-name {
          @include robotoNorma16120($black);
        }
        &-date-local {
          @include robotoLight15120($gray4);
          word-spacing: 2px;
        }
      }
    }

    &-user-text {
      @include robotoLight15120(#767474);
      margin-top: 10px;
      overflow: hidden;

      [data-alternate-text] {
        display: none;
      }
      @media screen and (min-width: 640px) and (max-width: 999px) {
        padding-left: 6px;

        [data-alternate-text] {
          display: inline;
        }
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 292px;

      &:nth-child(1) {
        padding-right: 24px;
      }
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      height: 109px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }
  }
}

.progress-bar__gradiend-border {
  width: 599px;
  height: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    width: 390px;
    margin-right: 10px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    display: none;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.progress-bar {
  transform: scale(0.99);
  height: 75%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  &__progress-level {
    margin-left: -3px;
    border-radius: 5px;
    display: block;
    height: 100%;
    width: 116px;
    background-color: $anotherOrange;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 75px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
    }

    &:hover {
      cursor: pointer;
      background-color: $green;
    }
  }
}

.leave-feedback {
  align-self: flex-start;
  margin-top: 31px;
  margin-left: -1px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    margin-top: 52px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    margin-top: 40px;
    margin-left: 180px;
    & > .standarPageButonNotRound {
      width: 240px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}

.leaveFoto {
  background-image: url(../../assets/images/leavFoto.png);
  background-repeat: no-repeat;
  width: 248px;
  height: 457px;
  position: absolute;
  /* left: 0; */
  right: 0px;
  bottom: -119px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    background-size: 80%;

    bottom: -217px;
    background-position-x: 50px;
    right: 0px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    right: 0px;
    bottom: 0px;
    background-position-x: 131px;
    background-position-y: 323px;
    background-size: 50%;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
  }
}
