@import "../../../_scss/commonStyles";
@import "../../../_scss/components";
@import "../../../_scss/buttons";
@import "../../../_scss/fonts";
@import "../../../_scss/variables";

@include basicPageSettings;
@include header;
@include footer;
@include standarPageButonRound;
@include standarPageButonNotRound;

// @mixin donate($animal,$bgImgSrc) {
// .donate#{$animal} {
.donate {
  @include BlockWrapper($black);
  align-items: flex-end;
  background-image: url(../../assets/images/zoos-donate-bg-panda.png);
  // background-image: url($bgImgSrc);
  background-repeat: no-repeat;
  height: 390px;
  padding-bottom: 60px;
  background-size: cover;
  @media screen and (min-width: 1000px) and (max-width: 1270px) {
    background-position: -273px;
  }
  //
  @media screen and (min-width: 640px) and (max-width: 999px) {
    height: 287px;
    padding-bottom: 34px;
    background-size: 244%;
    background-position: -230px -37px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    height: 220.45px;
    padding-bottom: 10px;
    background-size: 374%;
    background-position: -232px -30px;
  }
}
// }

// @include donate('-panda','../../assets/images/zoos-donate-bg-panda.png');

.animal-info {
  @include BlockWrapper($commonWhiteColor);
  position: relative;

  &__content {
    @include displayFlex(flex-start, flex-start);
    flex-direction: column;
    width: 1160px;
    margin-bottom: 180px;

    @media (min-width: 1000px) and (max-width: 1599px) {
      width: 940px;
    }

    @media (min-width: 640px) and (max-width: 999px) {
      width: 600px;
    }
    @media (min-width: 320px) and (max-width: 639px) {
      width: 320px;
    }
  }

  &__title {
    @include robotoMedium48120($green);
    margin-bottom: 25px;

    @media (min-width: 1000px) and (max-width: 1599px) {
      margin-left: 173px;
      margin-bottom: 25px;
    }
    @media (min-width: 640px) and (max-width: 999px) {
      margin-left: 173px;
      margin-bottom: 21px;
    }
    @media (min-width: 320px) and (max-width: 639px) {
      font-size: 24px;
      line-height: 120%;
      margin: 0px;
      margin-left: 94px;
    }
  }

  &-shortinfo {
    @include displayFlex(flex-start, flex-start);
    border-bottom: 1px solid $gray;
    padding-bottom: 20px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      border-color: white;
      display: flex;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      border-color: white;
      flex-flow: column;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      border-color: white;
      // width: 300px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding: 0;
    }

    &__img {
      @media screen and (min-width: 1600px) {
        width: 422px;
        height: 421px;
        background-image: url(../../assets//images/GiantPanda-zoos-description.png);
        background-size: 101%;
      }
      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 455px;
        height: 458px;
        background-image: url(../../assets//images/GiantPanda-zoos-description.png);
        background-size: 101%;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 390px;
        height: 393px;
        margin-left: 4px;
        background-image: url(../../assets//images/GiantPanda-zoos-description.png);
        background-size: 101%;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        background-image: url(../../assets//images/GiantPanda-zoos-description.png);
        width: 319px;
        height: 193px;
        background-size: 101%;
        /* display: block; */
        background-color: red;
        /* z-index: 500; */
        margin: 0;
        position: relative;
        /* left: 125px; */
        background-position-x: -1px;
        background-position-y: -37px;
      }
    }

    &__description {
      @include displayFlex(flex-start, flex-start);
      flex-direction: column;
      margin-left: 70px;
      height: 383px;
      justify-content: space-between;

      @media screen and (min-width: 1600px) {
        width: 688px;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 455px;
        margin-left: 30px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin: 0;
        margin-top: 31px;
        margin-left: 5px;
        width: 420px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        width: 300px;
        margin: 0;
        /* font-size: 16px; */
        height: 368px;
      }

      &-text {
        @include robotoMedium26140($graySmoky);
        // margin-bottom: 41px;

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          font-size: 22px;
          line-height: 141%;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          font-size: 22px;
          line-height: 141%;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          font-size: 16px;
          margin-top: 20px;
          margin-left: 9px;
          width: 300px;
          font-weight: 400;
        }

        &-green {
          color: $green;
        }
      }

      & .standarPageButon {
        margin-left: 4px;

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          margin-top: 94px;
          margin-left: 0px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          margin-top: 39px;
          margin-left: 150px;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          margin-left: 9px;
        }
      }
    }
  }

  &-topic-name {
    @include robotoNormal24120($black);
  }

  &-text__link {
    color: $green;

    &:hover {
      cursor: pointer;
      color: $orang;
    }
  }

  &-text__link-styled {
    @include robotoNormal16140($green);
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: $orang;
    }
  }

  &-diet,
  &-range,
  &-habitat,
  &-text__blured-lvl1,
  &-text__blured-lvl2,
  &-paragraph {
    @include robotoNormal16140($black);
  }

  &-paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &-diet {
    margin-top: 42px;

    @media screen and (min-width: 640px) and (max-width: 999px) {
      & .animal-info-topic-text {
        display: block;
        width: 510px;
      }

      & .animal-info-topic-name {
        display: block;
        width: 60px;
      }

      align-items: baseline;
      display: flex;
      margin-top: 91px;
      margin-left: 4px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      & .animal-info-topic-text {
        display: block;
        width: 230px;
      }

      & .animal-info-topic-name {
        display: block;
        width: 60px;
      }
      margin-left: 8px;
      margin-top: 40px;
      display: flex;
      /* display: block; */
      align-items: baseline;
    }
  }

  &-range {
    margin-top: 21px;

    @media screen and (min-width: 640px) and (max-width: 999px) {
      margin-top: 2px;
      margin-left: 3px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      margin-top: 24px;
      margin-left: 9px;
    }
  }

  &-habitat {
    margin-top: 29px;
    @media screen and (min-width: 320px) and (max-width: 639px) {
      margin-top: 16px;
      margin-left: 8px;
    }
  }

  &-general {
    margin-top: 33px;
    & .animal-info-topic-name {
      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        margin-bottom: 23px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-top: 3px;
        margin-bottom: 21px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }
    }
    @media screen and (min-width: 320px) and (max-width: 639px) {
      margin-top: 21px;
      margin-left: 9px;
      width: 300px;
    }
  }

  &-features {
    margin-top: 10px;
  }

  &-lifestyle,
  &-habitat-more,
  &-diet-more {
    margin-top: 11px;
  }

  &-diet-more {
    margin-top: 11px;
    margin-bottom: 20px;
  }
}

.sideStrelitzia-zoos {
  background-image: url(../../assets/images/strelitziaZoos.png);
  background-repeat: no-repeat;
  width: 306px;
  height: 229px;
  position: absolute;
  bottom: 0px;
  left: 0px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    background-size: 62%;
    background-position: 0px 88px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    background-size: 49%;
    background-position: 0px 119px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    background-size: 27%;
    background-position: 0px 166px;
  }
}

.sidePalm-zoos {
  background-image: url(../../assets/images/leavFotoZoos.png);
  background-repeat: no-repeat;
  width: 215px;
  height: 199px;
  position: absolute;
  bottom: 0px;
  right: 0px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    background-size: 84%;
    background-position: 47px 33px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    background-size: 60%;
    background-position: 91px 95px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    background-size: 32%;
    background-position: 151px 133px;
  }
}

.animal-camera {
  @include BlockWrapper($commonWhiteColor);
  margin-bottom: 138px;

  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 640px) and (max-width: 999px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin-bottom: 63px;
  }

  &__content {
    width: 1324x;
    @include displayFlex(flex-start, flex-start);
    flex-direction: column;
    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      width: 940px;
      margin: 0;
      margin-top: 20px;
      padding-left: 162px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 600px;
      margin-top: 56px;
      padding-left: 109px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      width: 300px;
      margin-top: 56px;
    }
  }

  &__title {
    @include robotoNorma48120($blackBlue);
    margin-top: 40px;
    margin-left: 82px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin: 0px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      font-size: 36px;
      margin: 0;
      margin-bottom: 12px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      font-size: 24px;
      margin: 0;
      margin-bottom: 9px;
    }
  }

  &__main-video {
    width: 1162px;
    height: 652px;
    margin-top: 15px;
    margin-left: 81px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin: 0;
      margin-top: 15px;
      width: 778px;
      height: 438px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      width: 495px;
      height: 278px;
      margin: 0;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      width: 299px;
      height: 168px;
      margin: 0;
    }

    &-frame {
      width: 1162px;
      height: 652px;
      margin-left: -1px;

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 778px;
        height: 438px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 495px;
        height: 278px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        width: 299px;
        height: 168px;
      }
    }
  }

  &__video-selector {
    @include displayFlex(center, center);
    margin-top: 80px;

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      margin-top: 20px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      width: 189px;
      height: 146px;
      margin-top: 20px;
      margin-left: 82px;
    }

    @include roundArrowButtonLeft;
    .round-arrow-button_left {
      margin-right: 21px;

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        order: 2;
        position: relative;
        top: 30px;
        left: 29px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        order: 2;
        position: relative;

        width: 42.81px;
        height: 42.81px;
        top: 25px;
        left: 30px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        display: none;
      }
    }

    @include roundArrowButtonRight;
    .round-arrow-button_right {
      margin-left: 21px;

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        order: 3;
        position: relative;
        top: -43px;
        left: -73px;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        order: 3;
        position: relative;
        width: 42.81px;
        height: 42.81px;
        top: -25px;
        left: -55px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        display: none;
      }
    }

    &-videos {
      @include displayFlex(space-between, center);
      width: 1160px;

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        overflow: hidden;
        width: 617px;
        order: 1;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 390px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        width: 189px;
        height: 146px;
        flex-wrap: wrap;
        height: 158px;
      }
    }

    &-video {
      position: relative;

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 293px;
        height: 210px;

        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }

        // &-plug,
        // &-frame {
        //   width: 293px;
        //   height: 210px;
        // }
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 180px;
        height: 140px;
        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        width: 89px;
        height: 68px;
      }

      &-selector-video {
      }

      &-plug {
        position: absolute;
        width: 268px;
        height: 210px;
        top: 0px;
        background-color: grey;
        opacity: 0.5;

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          width: 293px;
          height: 210px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          width: 180px;
          height: 140px;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          width: 89px;
          height: 68px;
        }

        // &::before {
        &-live {
          // content: "LIVE";
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 140%;
          color: #000000;
          text-transform: uppercase;
          display: block;
          width: 55px;
          height: 24px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 5px;
          position: relative;
          top: 9px;
          left: 9px;
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (min-width: 640px) and (max-width: 999px) {
            left: 0px;
            top: 8px;
          }

          @media screen and (min-width: 320px) and (max-width: 639px) {
            font-size: 10px;
            width: 45px;
          }
        }

        &-cam {
          top: -14px;
          left: 70px;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 140%;
          color: #000000;
          text-transform: uppercase;
          display: block;
          width: 138px;
          height: 24px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 5px;
          position: relative;
          top: -16px;
          left: 123px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          @media screen and (min-width: 640px) and (max-width: 999px) {
            left: 58px;
            width: 120px;
          }

          @media screen and (min-width: 320px) and (max-width: 639px) {
            top: 14px;
            left: 9px;
            font-size: 10px;
            width: 70px;
          }
        }
      }

      &-frame {
        width: 268px;
        height: 210px;

        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          width: 293px;
          height: 210px;
        }

        @media screen and (min-width: 640px) and (max-width: 999px) {
          width: 180px;
          height: 140px;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
          width: 89px;
          height: 68px;
        }
      }
    }
  }
}

.page-content-wrapper {
  position: relative;

  @media (min-width: 1000px) and (max-width: 1599px) {
    // width: 940px;
    margin: 0px auto;
  }
}

.sidebar {
  position: absolute;
  height: 100%;

  @media (min-width: 640px) and (max-width: 1599px) {
    height: 900px;
  }

  @media (min-width: 320px) and (max-width: 639px) {
    height: 233px;
    top: 282px;
    z-index: 10;
  }

  &__content {
    position: sticky;
    margin-top: 112px;
    margin-left: 30px;
    top: 30px;
    width: 99px;
    height: 652px;
    right: 3436x;
    z-index: 200;

    @media (min-width: 1000px) and (max-width: 1599px) {
      width: 72px;
      height: 438px;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 92px;
    }

    @media (min-width: 640px) and (max-width: 999px) {
      width: 72px;
      height: 438px;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      position: static;
      margin-top: 111px;
    }

    @media (min-width: 320px) and (max-width: 639px) {
      width: 62px;
      padding-top: 5px;
      padding-bottom: 5px;
      height: 233px;
      position: static;
      margin-top: 0px;
    }

    background: linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 16px;

    @include displayFlex(space-between, center);
    flex-direction: column;

    &-icon-wrapper,
    &-icon-wrapper-active {
      @include displayFlex(center, center);
      width: 80px;
      height: 80px;
      border: 1px solid $orang;
      border-radius: 50%;
      background-color: $commonWhiteColor;
      @media (min-width: 320px) and (max-width: 1599px) {
        width: 52px;
        height: 52px;
      }
      @media (min-width: 320px) and (max-width: 639px) {
        &[title="Eagle"],
        &[title="Sloth"],
        &[title="Penguin"] {
          display: none;
        }
      }
    }

    &-icon-wrapper:hover {
      cursor: pointer;
      border-color: $green;
    }

    &-icon-wrapper-active,
    &-icon-wrapper-active > &-icon {
      // pointer-events: none;
      fill: green;
      border-color: $green;
    }

    &-icon {
      fill: $black;
    }

    &-icon-wrapper:hover &-icon {
      fill: green;
    }

    &-icon-stroke {
      stroke: black;
    }

    &-icon-wrapper:hover &-icon-stroke {
      stroke: green;
    }
  }
}

.svg-icon {
  &-gorilla {
    @media (min-width: 320px) and (max-width: 1599px) {
      width: 35.75px;
      height: 30.55px;
    }
  }
  &-alligator {
    @media (min-width: 320px) and (max-width: 1599px) {
      width: 41.6px;
      height: 19.5px;
    }
  }
  &-panda {
    @media (min-width: 320px) and (max-width: 1599px) {
      width: 37.7px;
      height: 27.3px;
    }
  }
  &-eagle {
    @media (min-width: 320px) and (max-width: 1599px) {
      width: 39.65px;
      height: 35.1px;
    }
  }
  &-sloth {
    @media (min-width: 320px) and (max-width: 1599px) {
      width: 34px;
      height: 33px;
    }
  }
  &-penguin {
    @media (min-width: 320px) and (max-width: 1599px) {
      width: 20.24px;
      height: 37px;
    }
  }
}
