@import "./fonts";
@import "./commonStyles";

@mixin sideStrelizia {
  .sideStrelitzia {
    background-image: url(../../assets/images/strelitziaFoto.png);
    background-repeat: no-repeat;
    width: 368px;
    height: 275px;
    position: absolute;
    bottom: -100px;
    right: 0px;
  }
}
@mixin sidePalm {
  .sidePalm {
    background-image: url(../../assets/images/palmFoto.png);
    background-repeat: no-repeat;
    width: 266px;
    height: 460px;
    position: absolute;
    left: 0;
    bottom: -100px;
  }
}

@mixin logotype {
  .logo {
    padding: 0.35rem 0rem;
    @include logoText;
    width: 8.2rem;
    height: 5.2rem;
    border: 0.1rem solid $commonWhiteColor;
    border-radius: 0.2rem;
    background-image: url(../../assets/icons/bamboo.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 0.9rem 2.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

@mixin nav-default($marginLeft) {
  .nav {
    @include displayFlex(center, center);
    margin-left: $marginLeft;

    &__list_default {
      @include displayFlex(space-between, center);
      width: 52.6rem;
    }

    &__list-item_default {
      @include robotoMedium16140($commonWhiteColor);
      &:hover {
        cursor: pointer;
        color: $orang;
      }
    }

    &__list-item_selected {
      @include robotoMedium16140($orang);
      pointer-events: none;
    }
  }
}

@mixin header {
  @include logotype;
  @include nav-default(63px);
  .header {
    @include BlockWrapper($headerBGColor);
    backdrop-filter: blur(4px);

    &__wrapper {
      @include displayFlex(flex-start, center);
      padding: 1.4rem 0;
      width: 116rem;
    }
  }
}

@mixin footer {
  .footer {
    @include BlockWrapper(#111115);
    .logo_footer{
      margin-top: 39px
    }
    .footerstdButton{
      margin-top: 70px;
    }
    &__content {
      @include displayFlex(flex-start, flex-start);
      width: 1160px;
      height: 443px;
    }

    &__firstColumn {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &-socials{
        margin-top: 44px;
        &-wrapper{
          display: flex;
          height: 26px;
          align-items: center;
          margin-bottom: 10px;
        }

        & a:hover {
          cursor: pointer;
        }
      }
    }

    &__social-img-fb {
      background-image: url(../../assets/icons/Fill211.png);
      background-repeat: no-repeat;
      background: rgba(196, 196, 196, 0.5);
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
    }

    &__social-text {
      margin-left: 12px;
      @include robotoNormal16140($commonWhiteColor);
    }

    &__secondColumn{
      align-self: flex-end;
      padding-bottom: 50px;
      width: 425px;
      margin-left: 38px;
    }

    &__thirdColumn{
      margin-left: 32px;
      margin-top: 41px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .subscribe{
    align-self: start;
    @include robotoNormal24120($commonWhiteColor);
  }

  .designer-Alisa, .designer-Tony{
    @include robotoThin16130($commonWhiteColor);
  }
  .designer-Alisa{
    margin-bottom: 11px;
      margin-right: 6px;
      margin-top: 217px;
  }

  .form{
    display: flex;
    width: 367px;
    justify-content: space-between;
    margin-top: 14px;
  }

  .submitFormButton{
    background: #F1F3F2;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    @include robotoNormal16140(#000000);
    border: none;
    outline: none;
    &:hover{
      cursor: pointer;
    }

  }

  .email:valid + .submitFormButton{
    color: #000000;
    border: 1px solid #333B41;

  }

  .email:invalid + .submitFormButton{
    border: 1px solid #D31414;
    color: #D31414;
  }

  .email{
    width: 228px;
    height: 42px;
    @include robotoNormal16140(#BDBDBD);
  }
}