@import "./fonts";
@import "./commonStyles";

@mixin sideStrelizia {
  .sideStrelitzia {
    background-image: url(../../assets/images/strelitziaFoto.png);
    background-repeat: no-repeat;
    width: 368px;
    height: 275px;
    position: absolute;
    bottom: -100px;
    right: 0px;
  }
}
@mixin sidePalm {
  .sidePalm {
    background-image: url(../../assets/images/palmFoto.png);
    background-repeat: no-repeat;
    width: 266px;
    height: 460px;
    position: absolute;
    left: 0;
    bottom: -100px;
  }
}

@mixin logotype {
  .logo {
    padding: 0.35rem 0rem;
    @include logoText;
    width: 8.2rem;
    height: 5.2rem;
    border: 0.1rem solid $commonWhiteColor;
    border-radius: 0.2rem;
    background-image: url(../../assets/icons/bamboo.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 0.9rem 2.2rem;

    @media screen and (min-width: 1600px) {
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      border: none;
      font-size: 12px;
      width: 46.86px;
      height: 29.03px;
      /* background-size: 15%; */
      background-position: 4px 17px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      border: none;
      font-size: 12px;
      width: 46.86px;
      height: 29.03px;
      /* background-size: 15%; */
      background-position: 4px 17px;
    }

    &:hover {
      cursor: pointer;
    }

    &-footer {
      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        padding: 0.35rem 0rem;
        @include logoText;
        width: 8.2rem;
        height: 5.2rem;
        border: 0.1rem solid $commonWhiteColor;
        border-radius: 0.2rem;
        background-image: url(../../assets/icons/bamboo.svg);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: 0.9rem 2.2rem;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        padding: 0.35rem 0rem;
        @include logoText;
        width: 8.2rem;
        height: 5.2rem;
        border: 0.1rem solid $commonWhiteColor;
        border-radius: 0.2rem;
        background-image: url(../../assets/icons/bamboo.svg);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: 0.9rem 2.2rem;
      }
    }
  }
}

@mixin nav-default($marginLeft) {
  .nav {
    @include displayFlex(center, center);
    margin-left: $marginLeft;

    @media screen and (min-width: 1600px) {
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      display: none;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      display: none;
    }

    &__list_default {
      @include displayFlex(space-between, center);
      width: 52.6rem;

      @media screen and (min-width: 1600px) {
        width: 526px;
        transition: width 1s;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 485px;
        transition: width 1s;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 299px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        transition: width 1s;
      }
    }

    &__list-item_default {
      @include robotoMedium16140($commonWhiteColor);
      &:hover {
        cursor: pointer;
        color: $orang;
      }
    }

    &__list-item_selected {
      @include robotoMedium16140($orang);
      // pointer-events: none;
    }

    &__footer {
      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        display: block;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        display: block;
      }
    }
  }
}

@mixin header {
  @include logotype;
  @include nav-default(63px);

  .header {
    @include BlockWrapper($headerBGColor);
    backdrop-filter: blur(4px);
    @media screen and (min-width: 1600px) {
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      position: fixed;
      top: 0px;
      z-index: 10;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      position: fixed;
      top: 0px;
      z-index: 10;
    }

    &__burger-ico {
      background-color: transparent;
      background-image: url(../../assets/icons/burger_menu.png);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 18px;
      height: 10px;

      @media screen and (min-width: 1600px) {
        display: none;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        display: none;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        display: block;
        margin-left: 536px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        display: block;
      }
    }

    &__wrapper {
      @include displayFlex(flex-start, center);
      padding: 1.4rem 0;
      width: 116rem;

      @media screen and (min-width: 1600px) {
        width: 1160px;
        transition: width 1s;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 940px;
        transition: width 1s;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        width: 600px;
        height: 34px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        transition: width 1s;
      }
    }
  }
}

@mixin footer {
  .footer {
    @include BlockWrapper(#111115);

    .logo_footer {
      margin-top: 39px;

      @media (min-width: 640px) and (max-width: 999px) {
        margin-top: 12px;
        /* position: relative; */
        margin-bottom: -37px;
      }
    }
    .footerstdButton {
      margin-top: 70px;
    }
    &__content {
      @include displayFlex(flex-start, flex-start);
      height: 443px;

      @media screen and (min-width: 1600px) {
        width: 1160px;
        transition: width 1s;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 940px;
        transition: width 1s;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        height: 282px;
        width: 600px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        height: 540px;
      }
    }

    &__firstColumn {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @media screen and (min-width: 1600px) {
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        position: relative;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
      }

      &-socials {
        margin-top: 44px;

        @media screen and (min-width: 640px) and (max-width: 999px) {
          position: absolute;
          right: -302px;
          top: -32px;
        }

        @media screen and (min-width: 320px) and (max-width: 639px) {
        }
        &-wrapper {
          display: flex;
          height: 26px;
          align-items: center;
          margin-bottom: 10px;

          @media screen and (min-width: 640px) and (max-width: 999px) {
            margin-bottom: 20px;
          }
        }

        & a:hover {
          cursor: pointer;
        }
      }
    }

    &__social-img-fb {
      background-image: url(../../assets/icons/Fill211.png);
      background-repeat: no-repeat;
      background: rgba(196, 196, 196, 0.5);
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
    }

    &__social-text {
      margin-left: 12px;
      @include robotoNormal16140($commonWhiteColor);

      @media (min-width: 640px) and (max-width: 999px) {
        display: none;
      }
    }

    &__secondColumn {
      align-self: flex-end;
      padding-bottom: 50px;

      @media screen and (min-width: 1600px) {
        width: 425px;
        margin-left: 38px;
        transition: width 1s;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        width: 395px;
        margin-left: -57px;
        transition: width 1s;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-left: -360px;
        /* margin-top: -44px; */
        padding-bottom: 12px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        transition: width 1s;
      }
    }

    &__thirdColumn {
      margin-left: 32px;
      margin-top: 41px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media screen and (min-width: 1600px) {
        transition: width 1s;
      }

      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        position: relative;
        left: -127px;
        transition: width 1s;
      }

      @media screen and (min-width: 640px) and (max-width: 999px) {
        margin-top: 3px;
        margin-left: 70px;
      }

      @media screen and (min-width: 320px) and (max-width: 639px) {
        transition: width 1s;
      }
    }
  }

  .subscribe {
    align-self: start;
    @include robotoNormal24120($commonWhiteColor);

    @media screen and (min-width: 640px) and (max-width: 999px) {
     display: none;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {

    }
  }

  .designer-Alisa,
  .designer-Tony {
    @include robotoThin16130($commonWhiteColor);

    @media screen and (min-width: 1600px) {
      transition: width 1s;
    }

    @media screen and (min-width: 1000px) and (max-width: 1599px) {
      position: relative;
      left: 32px;
      transition: width 1s;
    }

    @media screen and (min-width: 640px) and (max-width: 999px) {
      transition: width 1s;
    }

    @media screen and (min-width: 320px) and (max-width: 639px) {
      transition: width 1s;
    }
  }
  .designer-Alisa {
    margin-bottom: 11px;
    margin-right: 6px;
    margin-top: 217px;
  }

  .form {
    display: flex;
    width: 367px;
    justify-content: space-between;
    margin-top: 14px;

    @media screen and (min-width: 640px) and (max-width: 999px) {
      display: none;
     }

     @media screen and (min-width: 320px) and (max-width: 639px) {

     }
  }

  .submitFormButton {
    @include displayFlex(center, center);
    background: #f1f3f2;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    @include robotoNormal16140(#000000);
    border: 1px solid $blackBlue;
    outline: none;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }

  .email:valid + .submitFormButton {
    color: #000000;
    border: 1px solid #333b41;
  }

  .email:invalid + .submitFormButton {
    border: 1px solid #d31414;
    color: #d31414;
  }

  .email {
    width: 228px;
    height: 42px;
    @include robotoNormal16140(#bdbdbd);
    background-color: transparent;
    outline: none;
    border-radius: 2px;
    border: 1px solid $orang;
    padding-left: 8px;

    &::placeholder {
      @include robotoNormal16140(#bdbdbd);
      margin-left: 9px;
    }
  }
}
