@import './commonStyles';
@import './variables';

@include logotype;
@include nav-default(63px);
.header{
  @include BlockWrapper($headerBGColor);
  backdrop-filter: blur(4px);

  &__wrapper{
    @include displayFlex(flex-start, center);
    padding: 1.4rem 0 ;
    width: 116rem;
  }
}

