$headerBGColor: #000000;
$black: #000000;
$commonWhiteColor: #FFFFFF;
$logoTextColor: $commonWhiteColor;
$orang: #F9804B;
$anotherOrange: #fe9013;
$watchAnimalBGColor: #283035;
$yellow: #FFEE2E;
$blackBlue: #333b41;
$green: #4b9200;
$orangeGrad: #fed290;
$pinkGradient: #febfab;
$fosterGlassWhite: #fdfdff;